// 0.4305

.banner-block-om {

    .figure-om {
        padding-bottom: 43.05%;
    }
}

.single-banner-om {
    .figure-om {
        padding-bottom: 77.56%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.16);
    }
}