.toolbar-lang-block-om {
    position: relative;

    @include sm {
        display: none;
    }

    .butt-om {
        background-color: transparent;
        color           : #fff;
        font-size       : 14px;
        font-weight     : 600;
        display         : flex;
        align-items     : center;

        &::after {
            content            : url(../images/Polygon.svg);
            margin-inline-start: 2px;
            transition         : 0.5s;
        }

        .figure-om {
            margin-inline-end: 6.6px;
        }

        &:hover {
            color: rgba(#fff, 0.7);

            &::after {
                opacity: 0.7;
            }
        }
    }


    .sub-menu-om {
        list-style      : none;
        margin-bottom   : 0;
        margin-top      : 0;
        display         : table;
        position        : absolute;
        top             : 115%;
        left            : 50%;
        transform       : translateX(-50%);
        background      : #fff;
        z-index         : -1;
        min-width       : 102px;
        box-shadow      : 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        padding         : 5px 0;
        border          : none;
        transform-origin: center 0;
        transition      : 0.5s;
        visibility      : hidden;
        opacity         : 0;
        transition      : 0.5s;




        // &::before {
        //     content     : "";
        //     display     : block;
        //     position    : absolute;
        //     bottom      : 100%;
        //     border-style: solid;
        //     border-width: 0px 6px 6px 6px;
        //     border-color: #fff transparent;
        //     left        : 50%;
        //     transform   : translateX(-50%);
        // }

        .li-om {
            margin: 0 5px;

            // margin: 0 8px;
            &:not(:last-child) {
                border-bottom: 1px solid rgba($color_2, 0.2);
            }
        }

        .link-om {
            font-size      : 14px;
            font-weight    : 500;
            display        : block;
            text-decoration: none;
            text-transform : capitalize;
            transition     : 0.5s;
            color          : $color_2;
            padding        : 5px 15px;
            text-align     : center;

            &:hover {
                background-color: $color_2;
                color           : #fff;
            }


        }



    }

    &:hover {
        .sub-menu-om {
            visibility: visible;
            opacity   : 1;
            z-index   : 11;
        }
    }
}