// nav-om -large sizes
.nav-om {

    .close-butt-om,
    .nav-logo-om  , 
    .header-reserv-link-om , 
    .toolbar-lang-block-om ,
    .social-om{
        display: none;
    }


    .nav-list-om {
        display      : flex;
        margin-bottom: 0;

        >li {
            &:not(:last-child) {
                margin-inline-end: 10px;

                @include md {
                    margin-inline-end: 0;
                }
            }

            >a {
                font-size      : 14px;
                font-weight    : bold;
                font-style     : normal;
                color          : $h_color_1;
                display        : flex;
                align-items    : center;
                text-transform : capitalize;
                text-decoration: none;
                transition     : 0.5s;
                padding: 37px 10px;

                &:hover {
                    color: $color_2;
                }

                &.store {
                    display: flex;
                    align-items: center;
                    &::after {
                        margin-top: 2px;
                        content: url("../images/Icon zocial-cart.svg");

                        @include sm {
                            filter: brightness(0) invert(1);
                        }
                    }
                }

            }

        }
    }
}

// nav-om  sm - xs size
@include sm {
    .nav-om {
        position   : fixed;
        top        : 0;
        left       : -100%;
        height     : 100%;
        width      : 80%;
        z-index    : 1111;
        padding    : 20px;
        transition : 0.5s;
        overflow-y : auto;
        display    : block;
        padding-top: 90px;
        background-color: $color_3;
        background     : linear-gradient(90deg, $color_1 0%, $color_2 100%);

        .toolbar-lang-block-om {
            display: inline-flex;
            position: absolute;
            top: 20px;
            left: 20px;

            @include dir {
                left: unset;
                right: 20px;
            }
        }

        .header-reserv-link-om  {
            display: flex;
            background: rgba($color_6, 0.2);
            border-radius: 0;
            margin-bottom: 20px;
        }

        .nav-logo-om  {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;

            img {
                max-width: 100%;
                filter: brightness(0) invert(1);
            }
        }

        .social-om {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .link-om {
                svg {
                    width: 20px; 
                    height: 20px;
                }
            }
        }

        .close-butt-om {
            display: block;

        }

        .bavbar-logo-om {
            display        : flex;
            max-width      : 100%;
            justify-content: center;
            margin-bottom  : 50px;
            filter         : brightness(0) invert(1);

            img {
                max-width: 100%;
            }
        }

       

        @include dir {
            right: -100%;
            left : unset;
        }

        &.active-menu {
            left: 0;

            @include dir {
                right: 0;
                left : unset;
            }
        }

        .nav-list-om {
            display: block;
            order  : 3;
            width  : 100%;
            margin : 0;

            @include dir {
                margin: 0;
            }

            >li {
                margin-inline-end: 0;

                &:not(:last-child) {
                    margin-inline-end: 0;
                }

                >a {
                    color  : #fff !important;
                    padding: 10px 25px;
                    display: block;
                    margin : 0;

                    @include dir {
                        margin: 0;
                    }

                    &:hover {
                        background-color: transparent
                    }
                }

                &:nth-child(odd) {
                    >a {
                        background-color: rgba($color_6, 0.2)
                    }
                }

            }
        }
    }
}