.footer-download-app-om {
    display      : flex;
    align-items  : center;
    margin-bottom: 30px;

    @include sm {
        justify-content: center;
    }

    .download-block {
        width: 135px;

        &:not(:last-child) {
            margin-inline-end: 14px;
            width            : 145px;
        }

        .figure-om {
            width : 100%;
            height: 48px;
        }

        img {
            max-width : 100%;
            height    : 100%;
            object-fit: contain;
        }
    }
}