.copyright-om {
  padding         : 14px 0;
  background-color: #fff;

  .copyright-parg-om {
    color      : #606060;
    margin     : 0;
    padding    : 0;
    text-align : center;
    font-size  : 14px;
    font-weight: 600;

  }

}