.copyright-om {
    padding   : 14px 0;
    background: $color_2;
    background: linear-gradient(90deg, $color_1 0%, $color_2 100%);

    .copyright-parg-om {
        color      : #fff;
        margin     : 0;
        padding    : 0;
        text-align : center;
        font-size  : 14px;
        font-weight: 600;

    }

}