

.gallery-img-block-om {
    display: block;
    margin-bottom: 30px;
    .figure-om {
        padding-bottom: 100%;
        overflow: hidden;
        
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}