// main colors 
$color_1 : #eb1c2b;
$color_2 : #9c1520;
$color_3 : #eb1c2b;

$color_4 : #F3F9FD;
$color_5 : #F7F7FA;
$color_6 : #606060;

// head colors 
$h_color_1 : #081839;
$h_color_2 : #242424;


$p_color_1 : rgba(#081839, 0.65);
$p_color_2 : rgba(#081839, 0.5);


$dir: "rtl";