// main colors 
$color_1 : #00D9C7;
$color_2 : #2E77B0;
$color_3 : #0178B5;

$color_4 : #F3F9FD;
$color_5 : #F7F7FA;
$color_6 : #103E79;

// head colors 
$h_color_1 : #081839;
$h_color_2 : #242424;


$p_color_1 : rgba(#081839 , 0.65);
$p_color_2 : rgba(#081839 , 0.5);


$dir: "rtl";
